public net.minecraft.server.level.DistanceManager$ChunkTicketTracker
public net.minecraft.server.level.DistanceManager$FixedPlayerDistanceChunkTracker
public net.minecraft.server.level.DistanceManager$PlayerTicketTracker
public net.minecraft.client.multiplayer.ClientChunkCache$Storage
public net.minecraft.server.level.ChunkMap$DistanceManager
public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.server.level.ThreadedLevelLightEngine$TaskType
public net.minecraft.world.level.levelgen.VerticalAnchor$BelowTop
public net.minecraft.world.level.levelgen.VerticalAnchor$AboveBottom
public net.minecraft.world.level.levelgen.VerticalAnchor$Absolute
public net.minecraft.world.level.lighting.SkyLightSectionStorage$SkyDataLayerStorageMap
public net.minecraft.world.ticks.LevelTicks$PosAndContainerConsumer
public net.minecraft.client.renderer.chunk.RenderChunk
# TODO ATing RenderChunk <init> is unnecessary if we can make the DASM-transformed constructor widen access instead
public net.minecraft.client.renderer.chunk.RenderChunk <init>(Lnet/minecraft/world/level/chunk/LevelChunk;)V
public net.minecraft.client.renderer.chunk.RenderChunkRegion <init>(Lnet/minecraft/world/level/Level;II[[Lnet/minecraft/client/renderer/chunk/RenderChunk;)V
public net.minecraft.world.level.LocalMobCapCalculator$MobCounts
public net.minecraft.client.gui.screens.worldselection.SwitchGrid
