<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    Checkstyle configuration that checks the Google coding conventions from Google Java Style
    that can be found at https://google.github.io/styleguide/javaguide.html.
    Checkstyle is very configurable. Be sure to read the documentation at
    http://checkstyle.sf.net (or in your downloaded distribution).
    To completely disable a check, just comment it out or delete it from the file.
    Authors: Max Vetrenko, Ruslan Diachenko, Roman Ivanov.

    TODO: checkstyle
 -->

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!--<property name="severity" value="warning"/>-->
    <property name="severity" value="error"/>

    <property name="fileExtensions" value="java, json"/>

    <module name="SuppressWarningsFilter"/>

    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>

        <!-- Block checks -->

        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true"/>
        </module>
        <module name="EmptyBlock">
            <!-- Allow blocks with only comments, for cases where there's a to-do comment -->
            <!-- TODO probably disallow comment-only blocks once we're further into development (P2? P3?) -->
            <property name="option" value="text"/>
        </module>
        <module name="EmptyCatchBlock"/>
        <module name="NeedBraces"/>

        <!-- Code design -->

        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="MutableException"/>
        <module name="OneTopLevelClass"/>
<!--        <module name="AnonInnerLength"/>--> <!-- TODO Could consider this one, but there are some vanilla anonymous classes we copy that are pretty long - though maybe that's a case for DASM-copying them? -->

        <!-- Coding -->

        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNoArgumentSuperConstructorCall"/>
<!--        <module name="ConstructorsDeclarationGrouping"/>--> <!-- TODO not available for current checkstyle version -->
        <module name="CovariantEquals"/>
<!--        <module name="DeclarationOrder"/>--> <!-- Disabled since we often try to mimic vanilla class member order -->
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <!-- <module name="FinalLocalVariable"/> maybe in the future? -->
        <!-- TODO could enable HiddenField, but it seems to be inconvenient far more often than it's actually helpful -->
<!--        <module name="HiddenField">-->
<!--            <property name="ignoreConstructorParameter" value="true"/>-->
<!--            <property name="ignoreSetter" value="true"/>-->
<!--            <property name="setterCanReturnItsClass" value="true"/>-->
<!--            <property name="ignoreAbstractMethods" value="true"/>-->
<!--        </module>-->
        <module name="HideUtilityClassConstructor"/>
        <!-- <module name="IllegalCatch"/> maybe in the future with some suppression for ReportedException code? -->
        <module name="IllegalThrows"/>
        <!-- <module name="IllegalType"/> in the future? -->
        <module name="InnerAssignment"/>
        <module name="MagicNumber">
            <property name="ignoreAnnotation" value="true"/>
        </module>
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <module name="MultipleStringLiterals">
            <property name="allowedDuplicates" value="3"/>
            <!-- For now we just ignore single characters. This may need more special cases, add more if necessary. -->
            <property name="ignoreStringsRegexp" value="."/>
        </module>
        <module name="NestedForDepth">
            <!-- Worldgen code has 2 x 3d nested loops in it, set that as max -->
            <property name="max" value="6"/>
        </module>
        <!-- <module name="NestedIfDepth"/> TODO: enable this? -->
        <module name="NestedTryDepth"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <!-- Does OneStatementPerLine ever get hit with auto-formatting? probably not? still good to have -->
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <!-- <module name="RequireThis"/> TODO: consider the possibility of using this -->
<!--        <module name="SealedShouldHavePermitsList"/>--> <!-- TODO not available for current checkstyle version -->
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
<!--        <module name="UnnecessaryNullCheckWithInstanceOf"/>--> <!-- TODO not available for current checkstyle version -->
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <!-- <module name="VariableDeclarationUsageDistance"/> TODO: consider enabling this -->

        <!-- Imports -->

        <!-- Rely on auto-formatting for imports, except for these - not sure if auto-format handles RedundantImport. -->
        <module name="AvoidStarImport">
            <!-- Can probably add other excludes as necessary -->
            <property name="excludes" value="org.objectweb.asm.Opcodes"/>
        </module>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.awt, javax.swing, sun, jdk.internal"/>
        </module>
        <module name="RedundantImport"/>

        <!-- TODO: javadoc checkstyle -->

        <!-- Metrics -->

        <module name="CyclomaticComplexity"/>
        <module name="JavaNCSS"/>
        <module name="NPathComplexity">
            <property name="max" value="512"/>
        </module>

        <!-- Misc -->

        <module name="ArrayTypeStyle"/>
        <module name="AvoidEscapedUnicodeCharacters"/>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>
        <!-- Prevent wrapping in package declarations and imports - probably unnecessary? -->
        <module name="NoLineWrap"/>

        <!-- Modifiers -->

        <module name="RedundantModifier"/>

        <!-- Naming -->
        <!-- TODO should enforce naming eventually - a lot of edge cases - cc_, Outer$Inner, dasm redirect containers, etc. -->

<!--        <module name="ConstantName"/>-->
        <module name="LambdaParameterName">
            <!-- For now we just prevent trailing underscores but allow `_`, to catch autogenerated parchment param names -->
            <property name="format" value="^(?:_|.*[^_])$"/>
        </module>
<!--        <module name="LocalFinalVariableName"/>-->
<!--        <module name="LocalVariableName"/>-->
<!--        <module name="MemberName"/>-->
<!--        <module name="MethodName"/>-->
        <module name="PackageName"/>
        <module name="ParameterName">
            <!-- For now we just prevent trailing underscores but allow `_`, to catch autogenerated parchment param names -->
            <property name="format" value="^(?:_|.*[^_])$"/>
        </module>
<!--        <module name="StaticVariableName"/>-->
<!--        <module name="TypeName"/>-->
    </module>

    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/suppressions.xml"/>
    </module>

    <property name="basedir" value="${basedir}"/>
</module>